@charset "UTF-8";
@import '../../assets/css/common.css';
.base-panel__content{
  margin-top: .15rem;
}
[class^='info-block'] {
  font-size: .24rem;
  margin-bottom: .35rem;
  padding: 0 .30rem;
  border-radius: .10rem;
  //border: 1px solid $theme-color-1-10;
}