.demo-list__entry {
    font-size: .22rem;
    padding: 0 .30rem .36rem .30rem;
    list-style: none;
    li{
        margin-top: .25rem;
        margin-bottom: .35rem;
        font-size: .28rem;
    }
    a {
        font-size: inherit;
        color: #2e3135;
        font-weight: 600;
        display: block;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #909090;
        }
    }
    .item-info{
        margin-top: .12rem;
        font-size: .20rem;
        line-height: 1.5em;
        .base-article__keyword:before{
            content: ' ';
            display: inline-block;
            width: .02rem;
            height: .02rem;
            background: #b2bac2;
            margin-left: .10rem;
            margin-right: .14rem;
            position: relative;
            top: -.05rem;
        }
    }
}